.container {
  width: 100%;
  max-width: $mobile;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

@include tablet {
 .container {
    padding: 0 20px;
    max-width: $tablet;
  }
}

@include desktop {
  .container {
    padding: 0 40px;
    max-width: $desktop;
  }
}