*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  @include font-text-primary(14px, 20px, $base-black);
  margin: 0;
  overflow-x: hidden;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: inherit;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}