/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;

$color-base-white: #ffffff;
$color-base-grey: #bdbdbd;
$color-base-black: #333333;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;
$color-alt-primary-025: rgba(120, 89, 207, 0.25);
$color-alt-primary-lighter: #9070ec;
$color-alt-primary-darker: #593cac;
$color-alt-light-grey: #e2e2e2;
$color-background-lightest-grey: #f8f8f8;
$color-background-flat-white: #f3eBe1;
$color-background-lavender-latte: #eae6fc;
$color-background-espresso: #e5e6e8;

$font-primary: "Montserrat", sans-serif;
$font-weight-primary: 400;
$font-weight-secondary: 700;