.advantages {
  background-color: $base-white;
}

.advantages__container {
  padding: 50px 20px 60px;
}

.advantages__mark {
  margin: 0 0 4px;
  text-align: center;
  color: $base-primary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.advantages__title {
  margin: 0 0 36px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

@include tablet {
  .advantages__container {
    padding: 60px 30px 100px;
  }

  .advantages__title {
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }
}

@include desktop {
  .advantages__container {
    padding: 80px 20px 90px;
  }

  .advantages__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 64px;
  }
}