.advertising-card {
  position: relative;

  min-height: 656px;
  padding: 20px 20px 60px;

  text-align: center;
  overflow: hidden;
}

.advertising-card__image-container {
  display: block;
  margin: 0 auto 10px;
}

.advertising-card__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
   width: 280px;
  height: 280px;
}

.advertising-card__mark {
  margin: 0 auto 4px;
  width: 280px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $base-primary;
  text-transform: uppercase;
}

.advertising-card__title {
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  width: 280px;
}

.advertising-card__description {
  width: 280px;
  margin: 0 auto 20px;
}

.advertising-card__footer {
  display: flex;
  justify-content:center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  gap: 20px;
  margin: 0 auto;
  width: 280px;
}

.advertising-card__price {
  display: flex;
  align-items: center;
  gap: 6px;
}

.advertising-card__base-price {
  color: $base-primary;
  text-decoration: line-through;
  width: 40px;
}

.advertising-card__discount-price {
      width: 51px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.advertising-card__link {
font-size: 16px;
line-height: 24px;
 width: 113px;
  min-height: 40px;
}

.advertising-card--white-drink {
  background-color: $bg-flat-white;
}

.advertising-card--latte-drink {
  background-color: $bg-lavender-latte;
}

.advertising-card--espresso-drink {
  background-color: $bg-espresso;
}

@include tablet {
  .advertising-card {
    padding: 60px 0 0;
    min-height: 828px;
  }

  .advertising-card__image-container {
    order: 2;
    margin-top: 20px;
    margin-top: auto;
  }

  .advertising-card__mark {
    order: 1;
     width: 608px;
  }

  .advertising-card__title {
    order: 1;
    margin: 0 auto 16px;
 width: 608px;
    font-size: 56px;
    line-height: 80px;
  }

  .advertising-card__description {
    order: 1;
    max-width: 608px;
    margin-bottom: 20px;
 width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  .advertising-card__footer {
    order: 1;
    margin: 0 auto 20px;
  }

  .advertising-card--white-drink {
    background: linear-gradient(
      to bottom,
      $bg-flat-white 0%,
      $bg-flat-white 77%,
      $base-white 77%,
      $base-white 100%
    );
  }

  .advertising-card--latte-drink {
    background: linear-gradient(
      to bottom,
      $bg-lavender-latte 0%,
      $bg-lavender-latte 77%,
      $base-white 77%,
      $base-white 100%
    );
  }

  .advertising-card--espresso-drink {
    background: linear-gradient(
      to bottom,
      $bg-espresso 0%,
      $bg-espresso 77%,
      $base-white 77%,
      $base-white 100%
    );
  }

    .advertising-card__image {
    width: 476px;
    height: 476px;
  }
}

@include desktop {
  .advertising-card {
    min-height: 714px;
    padding: 30px 80px 84px;

    align-items: center;
    justify-content: center;
    column-gap: 30px;

    text-align: left;
    overflow: hidden;
  }

  .advertising-card__image-container {
    order: 1;

    width: 600px;
    margin: 0;
  }

  .advertising-card__image {
    width: 600px;
    height: 600px;
    margin: 0;
  }

  .advertising-card__content {
    width: 625px;
    margin: 0;
    order: 2;
  }

  .advertising-card__title {
    margin-bottom: 16px;

    font-size: 56px;
    line-height: 80px;
  }

  .advertising-card__description {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 32px;
  }

  .advertising-card__footer {
    justify-content: flex-start;

    width: auto;
    margin: 0;
  }

  .advertising-card--white-drink {
    background: $bg-flat-white;
  }

  .advertising-card--latte-drink {
    background: $bg-lavender-latte;
  }

  .advertising-card--espresso-drink {
    background: $bg-espresso;
  }
}