.arrow-button {
  @include font-text-primary(16px, 150%, $base-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;

  color: $base-primary;
  background-color: $base-white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: $base-white;
    background-color: $alt-primary-lighter;
    outline: none;
  }

  &:active {
    color: $base-white;
    background-color: $alt-primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $alt-light-grey;
    cursor: default;
  }
}

.arrow-button::before {
    content: "";
  width: 10px;
  height: 10px;

  background-color: currentColor;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  }

  .arrow-button:first-child::before {
     mask-image: url("../../icons/menu-pagination-back.svg");
       -webkit-mask-image: url("../../icons/menu-pagination-back.svg");
  }

  .arrow-button:last-child::before {
     mask-image: url("../../icons/menu-pagination-back.svg");
       -webkit-mask-image: url("../../icons/menu-pagination-back.svg");
    transform: rotate(180deg);
  }

  .arrow-button__text {
    display: none;
  }

  @include tablet {
   .arrow-button {
    width: auto;
    min-width: 91px;
    padding: 8px 20px;
  }

  .arrow-button__text {
    display: inline-flex;
  }

  .arrow-button::before {
    display: none;
  }
}

@include desktop {

}