.benefits-card {
  position: relative;

  padding-top: 66px;

  text-align: center;
}

.benefits-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 52px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transform: translateX(-50%);
}

.benefits-card--speed::before {
  background-image: url("../../icons/icon-speed.svg");
}

.benefits-card--convenience::before {
  background-image: url("../../icons/icon-convenience.svg");
}

.benefits-card--cheerfulness::before {
  background-image: url("../../icons/icon-cheerfulness.svg");
}

.benefits-card--eco::before {
  background-image: url("../../icons/icon-eco.svg");
}

.benefits-card__title {
  margin: 0 0 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.benefits-card__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

@include tablet {
  .benefits-card {
    min-height: 76px;
    padding-top: 0;
    padding-left: 72px;

    text-align: left;
  }

  .benefits-card::before {
    top: 0;
    left: 0;

    transform: none;
  }

  .benefits-card__title {
    margin: 0 0 8px;

    font-size: 24px;
    line-height: 36px;
  }

  .benefits-card__description {
    max-width: 267px;
    margin: 0;

    font-size: 16px;
    line-height: 24px;
  }
}

@include desktop {
  .benefits-card {
    padding-top: 76px;
    padding-left: 0;

    text-align: center;
  }

  .benefits-card::before {
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .benefits-card__title {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }

  .benefits-card__description {
    max-width: 318px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 24px;
  }
}