.benefits-list {
  @include list;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

@include tablet {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 30px;
  }

  .benefits-list__item {
     width: 339px;
  }
}

@include desktop {
  .benefits-list {
    flex-wrap: nowrap;
    gap: 30px;
  }

  .benefits-list__item {
   width: 318px;
  }
}