.benefits-list {
  @include list;
  display: flex;
  flex-direction: column;
}

.benefits-card {
  text-align: center;
}

.benefits-card:not(:last-child) {
  margin-bottom: 32px;
}

.benefits-card__title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}

.benefits-card__description {
  margin: 0;
}

@include tablet {
.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  .benefits-list__item {
    flex: 1 1 calc(50% - 20px);
  }
}

@include desktop {
  .benefits-list {
     flex-direction: row;
    flex-wrap: nowrap; 
    gap: 20px;
  }

  .benefits-list__item {
    flex: 1 1 calc(25% - 20px);
  }
}