.button {
  @include font-text-primary(14px, 143%, $base-white);
  text-decoration: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  height: 36px;
  width: fit-content;
  border-radius: 4px;
  background: $base-primary;

  &:hover,
  &:focus-visible {
    background: $alt-primary-lighter;
  }

  &:active {
    background: $alt-primary-darker;
  }

  &:disabled {
    background: $base-grey;
  }
}

.button--add {
  gap: 6px; 
}

.button--add::before {
  content: "";
  width: 16px;
  height: 16px;

  background-color: currentColor;

  mask-image: url("../../icons/menu-cart-plus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("../../icons/menu-cart-plus.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}