.button {
  @include font-text-primary(14px, 20px, $base-white);
  text-decoration: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  height: 36px;
  width: fit-content;
  border-radius: 4px;
  background: $base-primary;

  &:hover,
  &:focus-visible {
    background: $alt-primary-lighter;
  }

  &:active {
    background: $alt-primary-darker;
  }

  &:disabled {
    background: $base-grey;
  }
}

.button--add {
  gap: 6px; 
}

.button--add::before {
  content: "";
  width: 20px;
  height: 16px;

  background-color: currentColor;

  mask-image: url("../../icons/menu-cart-plus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("../../icons/menu-cart-plus.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.button--page {
  width: 40px;
  height: 40px;
  padding: 0;

  color: $base-primary;
  background-color: transparent;
  border-radius: 4px;
}

.button--secondary {
  @include font-text-primary(16px, 150%, $base-primary);
  height: 40px;
  background: $base-white;

  &:hover,
  &:focus-visible {
    color: $base-white;
  }

  &:active {
    color: $base-white;
  }

  &:disabled {
    background: $alt-light-grey;
    color: $base-white;
  }
}

.button--form {
  width: 100%;
  min-height: 40px;
  font-size: 16px;
}

@include tablet {
  .button--form {
    width: fit-content;
  }
}