.catalog {
  background-color: $bg-lightest-grey;
}

.catalog__selector-wrapper {
  display: flex;
   align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  justify-content: space-between;
  padding-left: 3px;
}

.catalog__selector-mark {
  font-weight: 600;
font-size: 16px;
line-height: 150%;
color: $base-black;
width: 107px;
margin-right: 8px;
}

@include tablet {
.catalog__selector-wrapper {
justify-content: end;
}
}

@include desktop {
.catalog  {
width: 1011px;
}

.catalog__container {
  padding: 0;
}
}
