.catalog-group {
    display: flex;
    flex-direction: column;
    background-color: $bg-lightest-grey
}


@include desktop {
.catalog-group {
   flex-direction: row;
   gap: 30px;
   justify-content: center;
}
}