.contacts {
  padding: 20px 0;
  width: 280px;
}

.contacts__title {
  margin: 0 0 12px;
  color: $base-primary;
  font-size: 14px;
  font-weight: 700;
}

.contacts__address {
  position: relative;
  margin: 0 0 16px;
  padding-left: 24px;

  font-size: 14px;
  line-height: 20px;
  color: $base-black;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    background-color: $base-primary;

    mask-image: url("../../icons/menu-pin.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url("../../icons/menu-pin.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
  }
}

.contacts__phone {
  position: relative;
  display: inline-block;
  padding-left: 24px;

  font-size: 14px;
  line-height: 20px;
  color: $base-black;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    background-color: $base-primary;

    mask-image: url("../../icons/menu-phone.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url("../../icons/menu-phone.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
  }
}

@include tablet {
  .contacts {
 width: 223px;
}
}

@include desktop {
   .contacts {
 width: 317px;
}
}