.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@include tablet {
  .form {
     flex-direction: row;
  }
 .form__button-wrapper {
    flex-direction: row;
 }
}

@include desktop {
  .form {
     flex-direction: column;
  }
}
