.logo {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
}
}


.logo__text {
  // по умолчанию (мобилка/планшет) скрыт
  display: none;

  @include desktop {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: $base-black;
  }
}