.main-nav {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background-color: $base-white;
  border-top: 1px solid $base-secondary;
  z-index: 10;
   display: none;
}

.main-nav--open {
  display: block;
}

.main-nav__list {
  @include list;

}

.main-nav__link {
  @include font-text-primary(12px, 133%, $base-black, 500);
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: $base-white;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $base-secondary;
  }

  &:hover,
  &:focus-visible {
    color: $base-black;
  }

  &:active {
    background: $base-secondary;
    color: $base-black;
  }

  &--current {
    color: $base-black;

    &::before {
      background: $base-primary;
    }
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__item:last-child::after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;
  height: 1px;

  background-color: $base-secondary;
}

@include tablet {
 .main-nav {
    position: static;
    transform: none;
    width: auto;
    border-top: none;
    display: block;
  }

   .main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
        flex-wrap: wrap;
      max-width: 400px;
  }

  .main-nav__item {
    &::before,
    &::after {
      display: none; 
    }
  }

  .main-nav__link {
    padding: 32px 20px;

    &::before {
      height: 2px;
      background: transparent;
    }

    &:active {
      color: $base-primary;
      background-color: $base-secondary;
    }

    &--current {
      color: $base-primary;

      &::before {
        background: $base-primary;
      }
    }

.main-nav__link--current {
  color: $base-primary;
}
}
}
@include desktop {
   .main-nav {
    position: static;
    transform: none;
    width: auto;
    border-top: none;
    display: block;
  }

  .main-nav__list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 500px;
  }

  .main-nav__item {

    &::before,
    &::after {
      display: none;
    }
  }

  .main-nav__link {
    padding: 32px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    background: transparent;

    &::before {
      bottom: 0;
      height: 2px;
      background: transparent;
    }

 &--current::before {
    background: $base-primary;
  }


  }
}
