.media {
  padding: 20px 0;
  width: 280px;
}

.media__title {
  margin: 0 0 12px;
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.media__list {
  @include list;
}

.media__item:not(:last-child) {
  margin-bottom: 12px;
}

.media__link {
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@include tablet {
  .media {
 width: 222px;
}
}

@include desktop {
   .media  {
 width: 318px;
}
}