.promo-selector {
  background-color: $color-background-flat-white;
}

.promo-selector__container {
  position: relative;
  min-height: 656px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.promo-selector__slider-list {
  @include list;
}

.slider-list__promo-item:not(:first-child) {
  display: none;
}