.shop {
  padding: 20px 0;
  width: 280px;
}

.shop__title {
  margin: 0 0 12px;
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.shop__list {
  @include list;
}

.shop__item:not(:last-child) {
  margin-bottom: 12px;
}

.shop__link {
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@include tablet {
  .shop  {
 width: 223px;
}
}

@include desktop {
   .shop  {
 width: 317px;
}
}