.shop {
  padding: 20px 0;
  width: 280px;
  padding-bottom: 17px;
}

.shop__title {
  margin: 0 0 16px;
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.shop__list {
  @include list;
}

.shop__item {
min-height: 32px;
}

.shop__item:not(:last-child) {
  margin-bottom: 4px;
}

.shop__link {
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
      padding-top: 8px;
    padding-bottom: 8px;
}

@include tablet {
  .shop  {
 width: 223px;
}
}

@include desktop {
   .shop  {
 width: 317px;
}
}