.slider-pagination-button {
  padding: 0;
  border-radius: 0;
  width: 62px;
  height: 4px;
  background: $base-white;

  &:hover,
  &:focus-visible {
    background: $alt-primary-opacity-025;
  }

  &:active {
    background: $base-primary;
  }
}
