.slider-button {
  padding: 10px;
  width: 20px;
  height: 714px;
  color: $base-primary;
  background: transparent;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }

  &:disabled {
    color: $base-grey;
    background: transparent;
  }
}

@include tablet {
  .slider-button {
    width: 80px;
    height: 714px;
    padding: 10px;
  }
}
