.user-list {
  @include list;
  display: flex;
  align-items: center;
}

.user-list__link {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 22px;
}

.user-list__link--login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;

  transform: translate(-50%, -50%);

  background-color: $base-black;

  mask-image: url("../../icons/menu-user.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("../../icons/menu-user.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.user-list__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;

  transform: translate(-50%, -50%);

  background-color: $base-black;

  mask-image: url("../../icons/menu-cart.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("../../icons/menu-cart.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

@include tablet {
    .user-list__link {
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include desktop {
   .user-list__link {
    width: auto;
    padding: 0 20px;
    gap: 8px;
  }

  .user-list__link--login::after {
    content: "Войти";
    font-size: 12px;
    text-transform: uppercase;
  }

  .user-list__link--cart::after {
    content: "Корзина";
    font-size: 12px;
    text-transform: uppercase;
  }
}